branca==0.3.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
Flask==1.1.1
folium==0.10.1
geojson==2.5.0
gunicorn==20.0.4
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
numpy==1.18.0
openrouteservice==2.2.3
psycopg2==2.8.4
requests==2.22.0
Shapely==1.6.4.post2
six==1.13.0
urllib3==1.25.7
Werkzeug==0.16.0
